
body{
  margin:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(gradient.png) no-repeat;
  background-size: cover;
}
a{ 
  text-decoration: none; 
  color:rgb(92, 16, 122);
}
nav.box{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#back{
  background-color: rgb(177, 29, 140);
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: -1;
}
header{
  background-color: rgb(177, 29, 140);
  width: 100%;
  margin: 0px auto;
  margin-bottom: 15px;
	display: flex; 
  align-items: center;
  justify-content: space-around;
}
#logo{
  width: 100px;
  height: 100px;
  float: left;
 }
.box{
  background-color: rgb(225, 173, 230);
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding:15px;
}
a.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
table{
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding: auto;
}
th, td{
  border: solid 1px #000;
  padding: 8px;
}
table.box{
  text-align: center;
  vertical-align: middle;
}
#table
{
  order: 1;
}
.odd
{
    background-color: rgb(176, 123, 212);
}
.even
{
    background-color: rgb(210, 140, 224);
}
#footer
{
  background-color:rgb(225, 173, 230);
  width: 100%;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  order: 1;
}
@media screen and (min-width: 768px)
{ 
  .box{
    width: 70%;
    max-width: 960px;
  }
  #table{order: 0;}
  header{
    width: 70%;
    max-width: 960px;
    justify-content: flex-start;
  }
  nav.box{
    flex-direction: row;
    justify-content: space-around;
  }
}

/*
.content div {
  padding: 15px;
  background-color: lightblue;
  
  padding-left: 20px;
  padding-right: 20px;
}
.box{
  width: 100%;
  margin-top: 20px;
}


body{
  margin: 0px;
  background: url(gradient.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
 }
header{
  width: 60%;
  background-color: rgb(177, 29, 140);
  padding: 15px;
  /*margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  position: relative;
  max-width: 960px;
}
#head{
  width:100%; 
  background:rgb(177, 29, 140);
}
#logo{
  width: 100px;
  height: 100px;
  float: left;
  flex-grow: inherit;

  /*margin-right: 10px;
 }
nav{
  clear: both;
}
.center{
  color: rgb(0, 0, 0);
  background-color: rgb(207, 178, 224);
  border: 1px solid rgb(152, 134, 255);
  max-width: 960px;

 /* width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;


  display: flex;
  justify-content: center;
  flex-direction: column;
}
#menu a{
  margin-right: 100px;
}
a{ 
  text-decoration: none; 
  color:rgb(92, 16, 122);
}
table{
  border-collapse: collapse;
  margin: 0px auto;
}
th, td{
  border: solid 1px #000;
  padding: 5px;
}
tbody .odd{
  background-color: rgb(176, 123, 212);
}
tbody .even{
  background-color: rgb(210, 140, 224);
}
header h1{
  margin-top:30px
}
#footer{
  position: fixed;
  left: 0; bottom: 0; 
  padding: 10px;
  background:rgb(177, 29, 140);
  color: #fff; 
  width: 100%; 
}
*/